.rotacao-machado{
    animation: rotacao-machado 10s ease-in-out infinite;
}

@keyframes rotacao-machado{
    0% {
        opacity: 00.5;
        transform: rotate(0deg) scale(0.002) translate(-711px, -800px);
    }
    20% {
        opacity: 1;
        transform: rotate(0deg) scale(1) translate(0px, 0px);
    }
    100% {
        opacity: 1;
        transform: rotate(10deg) scale(1) translate(0px, 0px);
    }
}

.trovao-aumentando{
    animation: trovao-aumentando 10s ease-in-out infinite;
}

@keyframes trovao-aumentando{
    0% {
        transform: rotate(0deg) scale(0.01);
    }
    100% {
        transform: rotate(0deg) scale(3.5) translate(30px,0px);
    }
}